@model IEnumerable<ForumVianna.Model.DB.Model.Topico>

@{
    ViewBag.Title = "Topicos";
}

<h2>Topicos</h2>

<p>
    @Html.ActionLink("Novo Tópico", "AddTopico")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            Usuário Dono
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dono.Apelido)
        </td>
        <td>
            @Html.ActionLink("Inativar", "InativarTopico", new { id=item.Id })
        </td>
    </tr>
}

</table>
